:host {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

main {
  margin-top: 32px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 0 15px #ddd;
}

footer {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #aaa;
}
